DB_USER=username
DB_PASSWORD=password
DB_NAME=db

DATABASE_URL=postgres://username:password@localhost:5432/db

ENC_KEY=KEY-HERE

FRONTEND_APP=http://localhost:3000
BACKEND_APP=http://localhost:8000
ADMINER_URL=http://localhost:8080
