DB_USER=username
DB_PASSWORD=password
DB_NAME=db

POSTGRES_URL=postgres://username:password@localhost:5432/db
PRISMA_STUDIO_PORT=5555

ENC_KEY=KEY-HERE

FRONTEND_APP=http://localhost:3000
BACKEND_APP=http://localhost:8000
PRISMA_STUDIO_URL=http://localhost:5555
